@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-inter: "Inter", serif;

  --color-mint-50: #e1ecfc;
  --color-mint-100: #c1d9fa;
  --color-mint-200: #76b5f5;
  --color-mint-300: #3b94d9;
  --color-mint-400: #2a6fa5;
  --color-mint-500: #1a4c73;
  --color-mint-600: #0c2c45;
  --color-mint-700: #082339;
  --color-mint-800: #051b2d;
  --color-mint-900: #020f1c;
  --color-mint-950: #010811;
}

body {
  @apply bg-gradient-to-br from-mint-900 to-mint-950 text-white;
}

#root {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .no-arrow::-webkit-inner-spin-button,
  .no-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .no-arrow {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

/*` features section animation */
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.6s ease-out;
  opacity: 0;
}
